@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/* BODY */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
    
}


/* BARRA DE NAVEGACION */

.contenedorNavegador{
    height: 700px;
    background-image: url(Imagenes/inicio.jpeg);
    background-size: cover;
    background-repeat: no-repeat; 
    width: 100%;
    /* POSITION */
    position: relative;
    
   
}
.navbar-light{
    
    background-color: rgba(0, 0, 0, 0.22);
    position: fixed;
    width: 100%;
    margin-top: 0;
    height: 50px;
    padding: 20px;

}


.contenedorNavegador__titulo a{
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    color: #ffffff;
    text-decoration: none;
    transition-duration: 1s;
    
    
}

.contenedorNavegador__titulo a:hover{
    color: #470098;
}


.navbar-nav{

    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
}
.nav-link{
    color: #ffffff !important; 
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    transition-duration: 1s;
}
.nav-link:hover{
    color: #470098 !important;
    font-weight: bold;
}

.tituloNavegador{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    margin-left: 40px;
    
        
}


.tituloNavegador__titulo {
    width: 400px;   
    text-align: center;
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    color:  #ffffff;
    line-height: 1;
    
    
}


.tituloNavegador__parrafo p{
    text-align: center;
    width: 400px;
    font-family: 'Montserrat', sans-serif;
    font-size:  20px;
    color: #ffffff;
    
}

/* COLOR INDEX */

.colorFondoIndex{
    background-color:  #f0eeee;
}

/* INDEX */

.tituloPrincipal{
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 100px;
    color: rgb(0, 0, 0);
    font-family: 'Bebas Neue', cursive;
    
}
.tituloPrincipal span{
    
    color: #470098;
}

/* SECCION UNO */

.seccionUna{
   
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 150px;
    
    
    
}

.portada__imagen{
    width: 400px;

}

.portada__texto{
    width: 600px;
}

.portada__texto h2{
    font-family: 'Bebas Neue', cursive;
    font-size: 60px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.portada__texto p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
}


/* SECCION DOS INDEX*/



.contenedorSeccionDos{
    display: flex; 
    justify-content: space-evenly;
    flex-wrap: wrap;
    
    
}

/* SeccionDos/ Uno INDEX */ 

.seccion__Dos--uno{
    border-top: 15px solid #470098;
    border-radius: 10px;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    margin-bottom: 100px;
    background: linear-gradient(100.37deg, #f3f0f5 38.77%, #ede4f8 82.37%);
    
}

.seccion__Dos--uno img{
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    
}

.seccion__Dos--uno h3{
    color: rgb(0, 0, 0);
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
}

.seccion__Dos--uno p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}

/* SeccionDos/ Dos INDEX*/

.seccion__Dos--dos{
    border-top: 15px solid #470098;
    border-radius: 10px;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    margin-bottom: 75px;
    background: linear-gradient(100.37deg, #f3f0f5 38.77%, #ede4f8 82.37%);

}


.seccion__Dos--dos img{
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
}

.seccion__Dos--dos h3{
    color: rgb(0, 0, 0);
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
}

.seccion__Dos--dos p{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}


/* NOSOTROS */

.colorFondoNosotros{
    background-color: #f0eeee;
}

.contenedorNavegadorNosotros{
    height: 700px;
    background-image: url(Imagenes/nosotros.jpeg);
    background-size: cover;
    background-repeat: no-repeat; 
    width: 100%;
    /* POSITION */
    position: relative;
    
}

.tituloPrincipalNosotros{
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 100px;
    color: rgb(0, 0, 0);
    font-family: 'Bebas Neue', cursive;
    
}

.tituloPrincipalNosotros span{
    
    color: #470098;
}

.SeccionUnoNosotros{
        height: 700px;
        
}   



/* SERVICIOS */

.colorFondoServicios{
    background-color: #f0eeee;
}

.contenedorNavegadorServicios{
    height: 700px;
    background-image: url(Imagenes/serviciosdosjpeg.jpeg);
    background-size: cover;
    background-repeat: no-repeat; 
    width: 100%;
    /* POSITION */
    position: relative;
    
}

.tituloPrincipalServicios{
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 100px;
    color: rgb(0, 0, 0);
    font-family: 'Bebas Neue', cursive;
    
    
}
.tituloPrincipalPrincipal span{
    
    color: #470098;
}

.SeccionUnoServicios{
        height: 700px;
        
}   




/* GALERIA  */

.colorFondoGaleria{
    background-color: #f0eeee;
}

.contenedorNavegadorGaleria{
    height: 700px;
    background-image: url(Imagenes/galeria.jpeg);
    background-size: cover;
    background-repeat: no-repeat; 
    width: 100%;
    /* POSITION */
    position: relative;
    
}

.tituloPrincipalGaleria{
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 100px;
    color: color: rgb(0, 0, 0);
    font-family: 'Bebas Neue', cursive;
    
    
}
.tituloPrincipalGaleria span{
    
    color: #470098;
}

.SeccionUnoGaleria{
        height: 700px;
        
}  

/* CONTACTOS */
.colorFondoContactos{
    background-color: #f0eeee;
}

.contenedorNavegadorContactos{
    height: 700px;
    background-image: url(Imagenes/contactos.jpeg);
    background-size: cover;
    background-repeat: no-repeat; 
    width: 100%;
    /* POSITION */
    position: relative;
    
   
}


.tituloPrincipalContactos{
    margin-top: 80px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 100px;
    color: rgb(0, 0, 0);
    font-family: 'Bebas Neue', cursive;
    
    
}
.tituloPrincipalContactos span{
    
    color: #470098;
}

.SeccionUnoContactos{
        height: 700px;
        
} 

/* FOOTER */


.ContenedorFooter{

    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    
}

.titulofooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 10px;
    background: linear-gradient(100.37deg, #610098 38.77%, #440098 82.37%);
}

.titulofooter a{
    color: #ffffff;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
    padding-top: 10px;
    text-decoration: none;
    
}


.Redes__Sociales .Redes__Sociales--whats a, .Redes__Sociales .Redes__Sociales--instagram a{
    text-decoration: none;
    color: #ffffff;
    
    font-size: 20px;
}
.Redes__Sociales li{
    list-style: none;
}

.Redes__Sociales{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}

.Redes__Sociales li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.Redes__Sociales img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
   

}


.ContactosFooter{
    font-family: 'Mukta', sans-serif;
    margin-bottom: 15px;
    letter-spacing: 5px;
    font-size: 20px;
    color: #ffffff ;
    
}

.DerechosFooter p{
    color: #ffffff;
    font-size: 15px;
    
}

/* MEDIA QUERY */

@media (max-width: 991px){

   /* BARRA DE NAVEGACION */


.contenedorNavegador__titulo{
    margin-top: 0;
    margin-bottom: 15px;
    padding-bottom: 0;
    height: 39.5px;
}
.navbar-nav{
    display: flex;
    flex-direction: column;
    
}

.nav-item{
    border-bottom: 2px solid #470098;
    width: 100%;
}
.navbar-toggler{
    background-color:#ffffff;
    border: none;
    margin: 0px 5px 10px 0px;
    padding: 0px 0px 0px 0px;
}


.navbar-light{
     
    position: static;
    padding: 0px;


}
.contenedorNavegador__titulo a{
    font-size: 30px;
    margin-left: 10px;
   
}


.nav-link{
    font-size: 15px;
   
}


.tituloNavegador{

    height: 400px;
    margin-top: 250px;
    width: 600px;
    
}


.tituloNavegador__titulo{
    font-size: 75px;
    text-align: center;
    width: 500px;
    
}


.tituloNavegador__parrafo p{
    font-size: 15px;
    width: 500px;
    text-align: center;

}


.tituloPrincipal{
    font-size: 70px;
    
}



.portada__texto{
    margin-top: 40px;
}

.portada__texto h2{
    font-size: 50px;
    
}

/* TituloPrincipalNosotros */

.tituloPrincipalNosotros{
    font-size: 70px;

}

/* TituloPrincipalContactos */
.tituloPrincipalContactos{
    font-size: 70px;
}

/* TituloPrincipalServicios */

.tituloPrincipalServicios{
    font-size: 70px;
}

/* TituloPrincipalGaleria */
.tituloPrincipalGaleria{
    font-size: 70px
}

/* FOOTER */



.titulofooter{
    
    padding-bottom: 8px;
}
.titulofooter a {
    font-size: 15px;
    display: flex;
    
}


.Redes__Sociales .Redes__Sociales--whats a{
    font-size: 12px;
}

.Redes__Sociales .Redes__Sociales--instagram a{
    font-size: 12px;
}

.Redes__Sociales--instagram img{
    width: 22px;
    height: 22px;
}

.Redes__Sociales--whats img{
    width: 22px;
    height: 22px;
}


.ContactosFooter{
   
    font-size: 12px;
    
}

.DerechosFooter p{
    
    font-size: 10px;
    
}

}

@media (max-width: 740px){


    .navbar-light{
     
        position: static;
        padding: 0px;
        
       
    }

    
    .tituloNavegador{
        
        margin-left: 0;
        width: 200px;
        margin-top: 300px;
        height: 300px;
        

    }
    
    
    .tituloNavegador__titulo {
        
        font-size: 50px;
        width: 200px;
        
    }
    
    
    .tituloNavegador__parrafo p{
       
        width: 200px;
        font-size: 15px;
        
        
    }

    .tituloPrincipal{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    /* TituloPrincipalNosotros */

    .tituloPrincipalNosotros{
        margin-top: 40px;
        margin-bottom: 40px;
        
    }
    
    /* TituloPrincipaContactos */
    .tituloPrincipalContactos{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    /* TituloPrincialServicios */
    .tituloPrincipalServicios{
        margin-top: 40px;
        margin-bottom: 40px;
    }

    /* TituloPrincialGaleria */
    .tituloPrincipalGaleria{
        margin-top: 40px;
        margin-bottom: 40px;
    }


}
