@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



/* BODY */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}

/* BARRA DE NAVEGACION */

.contenedorNavegador{
    height: 700px;
    background: #FF0099;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(313, 75%, 69%, 0.24), hsla(317, 45%, 52%, 0.274)), url(Imagenes/inicio-min.jpeg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(313, 75%, 69%, 0.24), hsla(317, 45%, 52%, 0.274)), url(Imagenes/inicio-min.jpeg) /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    /* POSITION */
    position: relative;
}

.navbar-light{
    background-color: rgba(0, 0, 0, 0.22); 
    position: fixed;
    width: 100%;
    margin-top: 0;
    height: 70px;
    padding: 20px;
    z-index: 100;
}

.contenedorNavegador__titulo {
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    color: #ffffff;
    text-decoration: none !important;
    transition-duration: 1s;
}

.contenedorNavegador__titulo:hover{
    color:  #642a73;
}

.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: flex-start;
}

.nav-link{
    color: #ffffff !important;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.nav-link:hover{
    text-decoration: underline;
}

.tituloNavegador{
    /* POSITION */
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    margin-left: 40px;
}

.tituloNavegador__titulo {
    width: 400px;
    text-align: center;
    font-size: 100px;
    font-family: 'Bebas Neue', cursive;
    color:  #ffffff;
    line-height: 1;
}

.tituloNavegador__parrafo p{
    text-align: center;
    width: 400px;
    font-family: 'Montserrat', sans-serif;
    font-size:  20px;
    color: #ffffff;
}

.ola{
    position: absolute;
    margin-top: 550px;
    width: 100%;
}


/* INDEX */


/* SECCION UNO INDEX */

.titulo__index{
    margin-top: 100px;
    text-align: center;
    color: #642a73;
    font-size: 50px;
    text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
}

.contenedorPortada{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.portada__imagen{
    width: 450px;
}

.portada__imagen img{
    height: 350px;
}

.portada__texto{
    width: 600px;
}

.portada__texto p{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 20px;
    color: rgb(0, 0, 0);
}


/* PORTFOLIO INDEX */


.titulo{
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-size: 40px;
    color: #642a73;
    text-transform: capitalize;
    padding-top: 10px;
    padding-bottom: 10px;
}

.portafolio{
    background-color: #f2f2f2;
    padding-bottom: 30px;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.imagen-port{
    width: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    height: 200px;
    
}

.imagen-port img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* OPIONES INDEX */

.contenedorOpiniones__titulo{
    margin-top: 100px;
    margin-bottom: 50px;
}

.contenedorOpiniones__titulo h3{
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-size: 35px;
    color: #642a73;
}

.contenedorOpiniones{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.contenedorOpionesTodo{
   display: flex;
   background-color:#4d0686;
   align-items: center;
   flex-wrap: wrap;
   width: 400px;
   justify-content: center;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.6);
}

.contenedorOpinionesTodo__imagen{
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
}

.contenedorOpinionesTodo__imagen img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.contenedorOpinionesTodo__opionion{
    width: 100%;
}

.contenedorOpinionesTodo__opionion--mujer{
    display: flex;
    justify-content: center;
    color: #ffffff;
    margin-top: 5px;
    font-weight: bold;
}

.contenedorOpinionesTodo__opionion p{
    text-align: center;
    color: #ffffff;
    font-weight: lighter;
    
}

/* SERVICIOS INDEX */

.seccionServicios{
    background-color:  #f2f2f2;
    margin-top: 100px;
}

.seccionServicios h4{
    text-align: center;
    font-family:'Montserrat', sans-serif;
    font-size: 35px;
    color: #642a73;
    text-transform: capitalize;
    padding-bottom: 10px;
    padding-top: 10px;
}

.contenedorServicios{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 30px;
    
}

.contenedorServicios__contenido{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
}

.contenedorServicios__contenido img{
    width: 300px;
    height: 200px;
}

.contenedorServicios__contenido p{
    width: 200px;
    height: 120px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: lighter;
}

.contenedorServicios__contenido span{
    color: rgb(0, 0, 0);
    margin-top: 5px;
    font-weight: bold;
}


/* FOOTER */


.ContenedorFooter{
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100%;
    height: 400px;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.titulofooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-bottom: 5px;
    margin-bottom: 10px;
    background: linear-gradient(100.37deg, #610098 38.77%, #440098 82.37%);
}

.titulofooter a{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
    padding-top: 10px;
    text-decoration: none;
}

.Redes__Sociales .Redes__Sociales--whats a, .Redes__Sociales .Redes__Sociales--instagram a{
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
}

.Redes__Sociales li{
    list-style: none;
}

.Redes__Sociales{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.Redes__Sociales li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.Redes__Sociales img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.ContactosFooter{
    font-family: 'Mukta', sans-serif;
    margin-bottom: 15px;
    letter-spacing: 5px;
    font-size: 15px;
    color: #ffffff ;
}

.DerechosFooter p{
    color: #ffffff;
    font-size: 12px;
}

/* MEDIA QUERY */

@media (max-width: 991px){
   /* BARRA DE NAVEGACION */
.contenedorNavegador__titulo{
    margin-top: 0;
    margin-bottom: 15px;
    padding-bottom: 0;
    height: 35px;
}

.navbar-nav{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.22); 
}

.nav-item{
    border-bottom: 2px solid #ffffff;
    width: 100%;
}

.navbar-toggler{
    background-color:#ffffff;
    border: none;
    margin: 5px 5px 10px 0px;
    padding: 0px 0px 0px 0px;
}

.navbar-light{
    position: static;
    padding: 0px;
    height: 50px;
}

.contenedorNavegador__titulo {
    font-size: 30px;
    margin-left: 10px;
}

.nav-link{
    font-size: 15px;
    font-weight: bold;
}

.nav-link:hover{
    text-decoration: none;
}

.tituloNavegador{
    height: 400px;
    margin-top: 250px;
    width: 600px;
}

.tituloNavegador__titulo{
    font-size: 75px;
    text-align: center;
    width: 500px;
}

.tituloNavegador__parrafo p{
    font-size: 15px;
    width: 500px;
    text-align: center;
}

/* PORTADA INDEX */

.portada__texto{
    margin-top: 40px;
}

.portada__texto h2{
    font-size: 50px;

}

/* FOOTER */

.titulofooter{
    padding-bottom: 8px;
}

.titulofooter a {
    font-size: 15px;
    display: flex;
}

.Redes__Sociales .Redes__Sociales--whats a{
    font-size: 12px;
}

.Redes__Sociales .Redes__Sociales--instagram a{
    font-size: 12px;
}

.Redes__Sociales--instagram img{
    width: 22px;
    height: 22px;
}

.Redes__Sociales--whats img{
    width: 22px;
    height: 22px;
}

.ContactosFooter{
    font-size: 12px;
}

.DerechosFooter p{
    font-size: 10px;
}

/* SECCION OPINIONES INDEX */
.contenedorOpionesTodo{
    margin: 15px;
}

/* SECCION SERVICIOS SERVICIOS */
.contenedorServicios__contenido{
    margin: 15px;
}

}

@media (max-width: 740px){
    .navbar-light{
        position: static;
        padding: 0px;
    }

    .tituloNavegador{
        margin-left: 10px;
        width: 200px;
        margin-top: 300px;
        height: 300px;
    }
    
    .tituloNavegador__titulo {
        font-size: 50px;
        width: 200px;
    }

    .tituloNavegador__parrafo p{
        width: 200px;
        font-size: 15px;
    }
    /* PORTADA INDEX */
    .portada__imagen{
        width: 300px;
    }
    
    .portada__imagen img{
        height: 250px;
    }

    /* PORTOFOLIO INDEX */
    .imagen-port{
        width: 48%;
    }

    
}

@media (max-width: 320px){
    .contenedorNavegador__titulo {
        font-size: 25px;
        
    }
    .navbar-toggler{
        margin-bottom: 13px;
    }
}
